@import "../../../styles/mixins";

mat-card-content {
  max-width: 20dvw;
  max-height: 55dvh;
  overflow-x: auto;
  @include center;
  flex-direction: column;
}

.add {
  align-self: flex-end;
}
