@import "variables";

mat-card-content {
  box-shadow: inset 0px 0px 0px 6px rgba(14, 15, 15, 0.62);
  padding: 12px;
  background: linear-gradient(
    90deg,
    rgba(99, 97, 142, 1) 0%,
    rgba(125, 125, 138, 1) 29%,
    rgba(117, 168, 179, 1) 100%
  );
  height: $xl;
  display: flex;
  gap: 12px;
}
